<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
    </head>
    <body>
        <div th:replace="~{header}"></div>

        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Register</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->

        <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="text-box mt-5 mb-5">
                            <p class="mb-4">Already have an account? <a class="blue" href="login">Login</a></p>

                            <!-- Register Form -->
                            <form action="register" method="post">
                                <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" required>
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingFullname" placeholder="Full Name" name="fullname" required>
                                    <label for="floatingFullname">Full Name</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="email" required>
                                    <label for="floatingEmail">Email</label>
                                </div>
                                <!-- <div class="mb-4 form-floating">
                                    <input type="date" class="form-control" id="floatingBirthDate" name="birthDate">
                                    <label for="floatingBirthDate">Birth Date</label>
                                </div> -->
                                <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" name="phoneNumber" required>
                                    <label for="floatingPhoneNumber">Phone Number</label>
                                </div>
                                <select name="role" class="form-select mb-4" required>
                                    <option value="MEMBER">Member</option>
                                    <option value="DOCTOR">Doctor</option>
                                    <option value="ADMIN">Admin</option>
                                </select>

                                <button type="submit" class="form-control-submit-button">Register</button>
                            </form>
                            <!-- end of register form -->
                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
    </body>
</html>
